:root {
  --purple: #41197f;
  --blue: #00d5e2;
  --radius: 5px;
  --shadow: 0px 0px 7px #cfcfcf;
}

* {
  box-sizing: border-box;
  font-family: Epilogue, sans-serif;
  margin: 0;
  padding: 0;
}

.header {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
}

.container-title {
  width: 70%;
  background-color: var(--purple);
  height: 90px;
  display: flex;
  align-items: center;
  padding: 40px;
}

.container-cartTitle {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  height: 90px;
  width: 30%;
  padding: 40px;
}

.container-cartTitle span {
  z-index: 1;
}

.container-cartTitle .cart__title {
  color: var(--purple);
  font-size: 20px;
  display: 20px;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}

.cart__title i {
  margin-right: 12px;
  margin-top: -20px;

}

.container {
  display: flex;
  width: 100%;
}

.title strong {
  color: white;
}

.items {
  display: flex;
  width: 70%;
  flex-wrap: wrap;
  margin: 40px 0;
  padding: 90px;
}

.item {
  display: flex;
  flex-direction: column;
  height: auto;
  margin: 5px;
  width: 272px;
  box-shadow: var(--shadow);
  border-radius: var(--radius);
  background-color: white;
  padding: 30px;
}

.item .item__title {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: #444955;
}

.item .item__image {
  width: 100%;
}

.item .item__add {
  background-color: var(--blue);
  border: 0;
  cursor: pointer;
  margin: 0;
  padding: 10px;
  color: white;
  border-radius: var(--radius);
  font-size: 1em;
  font-family: "Epilogue";
  font-weight: 700;
  width: 250px;
  height: 35px;
  margin-left: -20px;
}

.cart {
  display: flex;
  flex-basis: 30%;
  flex-flow: column wrap;
  background-color: rgb(241, 241, 238);
  height: 100vh;
}

.cart .cart__items {
  overflow-y: scroll;
  flex-direction: column;
  padding: 10px;
  color: #444955;
}

.empty-cart {
  width: 210px;
  height: 35px;
  margin: 0 auto;
  background-color: var(--purple);
  border: 0;
  cursor: pointer;
  padding: 10px;
  color: white;
  border-radius: var(--radius);
  font-size: 1em;
  font-family: "Epilogue";
  font-weight: 700;
  margin-top: 50px;
}

.total-price {
  font-size: 20px;
  font-family: "Arial";
  font-weight: 500;
  text-align: center;
  margin-top: 30px;
}


.item_id {
  color: white;
}

.item__price {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding: 10px;
  text-align: center;
  justify-content: center;
  color: black;
  font-size: 18px;
  font-family: "arial";
  font-weight: 500;
}

.cart__item-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 50px;
}

.cart__item {
  display: flex;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.cart__item-thumbnail {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.cart__item-text {
  flex-grow: 1;
}
